$orange: #F59A18;
$black: black;
$blue: #7eb4e2;
$darkblue: #143774;
$white: #ffffff;
$grey: #717171;
$offwhite: #F8F8F8;
$gray: #707070;
$font-weight: 400;
$nav-font: 'ubuntu', sans serif;
$font-family: 'lato',sans serif;

$highlight: $darkblue;
$footer-background: $orange;
$footer-color: $white;
$link-color: $grey;
$link-hover: $orange;
$nav-background: $offwhite;
$current-page-hover: $gray;

